<div class="page-header">
    <h1 class="red-title"> Список покупок </h1>
    <child-comp [(userName)]="name" [userSex]="sex" [userAge]="age"  (onChanged)="onChanged($event)"></child-comp>
    <h3>Количество очков: {{clicks}}</h3>
</div>
<div class="panel">
    <p>{{currentDate}} </p>
    <p [textContent]="weekDay"></p>
    <p [class.isredbox]="isRed">Количество кликов {{count}}</p>
    <button (click)="increase($event)">Click</button>
    <br><input type="text" [(ngModel)]="name" />
    <br><input type="text" [(ngModel)]="name" />
</div>
<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" [(ngModel)]="text" placeholder = "Название" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input type="number" class="form-control" [(ngModel)]="price" placeholder="Цена" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" (click)="addItem(text, price)">Добавить</button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Предмет</th>
            <th>Цена</th>
            <th>Куплено</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.purchase}}</td>
            <td>{{item.price}}</td>
            <td><input type="checkbox" [(ngModel)]="item.done" /></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel">
    <div><input [(ngModel)]="phone" placeholder = "Модель" />
        <button (click)="addPhone(phone)">Добавить</button>
    </div>
    <table>
        <tr *ngFor="let item of phones">
            <td>{{item}}</td>
        </tr>
    </table>
</div>